// Background colors
$dark-blue: #293462;
$light-gray: #e5e5e5;
// Text colors
$dark-green: #347474;
$dark-gray: #5d5d5d;
$light-blue: #badfdb;
$black: #000;
$white: #fff;
// Button colors
$purple: #6807f9;
$violet: #c400c6;
$pink: #df42d1;
$blue: #1014ff;
$middle-blue: #2656f1;
$teal: #51dacf;
$green: #b2fcff;
$turquoise: #61f2f5;